.advantages__heading {
  margin: 0 0 40px 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  margin-bottom: 27px;
  padding-left: 81px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    margin-left: -81px;
    margin-top: -3px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:first-child::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-size: 50px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &:nth-child(2)::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-size: 50px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &:nth-child(3)::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-size: 50px auto;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &:nth-child(4)::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-size: 50px auto;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}
