.contacts-section__address {
  margin-bottom: 25px;
}

.contacts-section--catalog {
  background-color: #f2f2f2;
}

@media (min-width: $tablet) {
  .contacts-section__address {
   margin-bottom: 60px;
  }
}

@media (min-width: $desktop) {
  .contacts-section {
    position: relative;
  }

  .contacts-section__address {
    position: absolute;
    z-index: 1;
    top: 86px;
    margin-left: 37px;
    margin-bottom: 0;
    background-color: #ffffff;
  }


}
