.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover svg {
    fill: #68b738;
  }

  &:active svg {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__html {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.copyright svg {
  fill: #666666;
}

@media(min-width: $tablet) {
  .copyright__html {
    display: inline-block;
    margin-right: 20px;
  }
}
