.example {
  background-color: #f2f2f2;
}

.example__heading {
  margin: 0 0 34px 0;
  padding: 0 20px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.example__description {
  margin: 0 0 27px 0;
  padding: 0 30px 0 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__list-wrapper {
  padding: 0 20px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 37px 0;
  padding: 0;
  list-style: none;
}

.example__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__property {
  position: absolute;
  top: 47px;
  padding: 0 15px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  background-color: #f2f2f2;
}

.example__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__cost {
  margin-bottom: 45px;
  text-align: center;

  br {
    display: none;
  }
}

.example__image-wrapper {
  margin-bottom: 40px;
}

.example__after {
  display: none;
}

.example__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 196px;
  margin: 0 auto;
}

.example__button {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.example__scale {
  display: flex;
  position: relative;
  width: 68px;
  height: 14px;
  padding: 3px 5px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
}

.example__toggle {
  position: relative;
  width: 37px;
  height: 6px;
  background-color: #68b738;
  border-radius: 10px;
  border: none;
}

@media (min-width: $tablet) {
  .example {
    background-image: linear-gradient(to top, #f2f2f2 450px, #ffffff 450px);
    border-top: 1px solid #e6e6e6;
  }

  .example__heading {
    margin: 0 0 57px 0;
    padding: 0 30px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    margin: 0 0 57px 0;
    padding: 0 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__list-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    padding: 0 30px;
  }

  .example__list {
    margin: 0;
  }

  .example__item {
    width: 162px;
    height: 70px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  .example__value {
    font-size: 30px;
    line-height: 30px;
  }

  .example__property {
    top: 60px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;

    br {
      display: none;
    }
  }

  .example__cost {
    margin-top: 12px;
    margin-bottom: 0;
    text-align: right;

    br {
      display: block;
    }
  }

  .example__price {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  .example__difference {
    padding: 0 30px;
  }

  .example__image-wrapper {
    margin-bottom: 30px;
  }

  .example__controls {
    width: 80%;
  }

  .example__button {
    padding: 0 0 3px 0;
    font-size: 20px;
    border-bottom: 1px dotted #bebebe;
  }

  .example__scale {
    width: 430px;
    height: 6px;
    padding: 0 5px;
    background-color: #dcdcdc;
  }

  .example__toggle {
    align-self: center;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #fff;
    box-shadow: 0 0 0 1px #dcdcdc;
  }
}

@media(min-width: $desktop) {
  .example {
    border: none;
  }

  .example__layout {
    position: relative;
    display: flex;
    padding: 0 40px;
  }

  .example__description-wrapper {
    width: 570px;
  }

  .example__heading {
    margin: 0 0 145px 0;
    padding: 0;
  }

  .example__description {
    width: 435px;
    margin: 0 0 70px 0;
    padding: 0;
  }

  .example__list-wrapper {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .example__list {
    margin: 0 0 55px 0;
  }

  .example__value {
    line-height: 37px;
  }

  .example__property {
    background-color: #f2f2f2;
  }

  .example__cost {
    margin-top: 0;

    br {
      display: none;
    }
  }

  .example__price {
    margin-right: 65px;

    &:last-child {
      margin-right: 0;
    }
  }

  .example__difference {
    position: absolute;
    top: -48px;
    right: 0;
    width: 650px;
    padding: 0;
  }

  .example__controls {
    width: 87%;
  }

  .example__image-wrapper {
    margin-bottom: 55px;
  }
}
