.footer {
  padding-top: 40px;
  padding-bottom: 21px;
  background-color: #f2f2f2;
}

.footer__logo-wrapper {
  margin-bottom: 31px;
  text-align: center;
}

.footer__social-list {
  margin-bottom: 21px;
}


@media(min-width: $tablet) {
  .footer {
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo-wrapper {
    margin-bottom: 0;
  }

  .footer__social-list {
    margin-bottom: 0;
  }
}
