.main__promo {
  margin-bottom: 22px;
}

.main__advantages {
  padding-top: 29px;
  padding-bottom: 45px;
}

.main__example {
  padding-top: 30px;
  padding-bottom: 39px;
}

.main__contacts-section {
  padding-top: 30px;
}

.main__extra {
  padding-bottom: 35px;
}

@media (min-width: $tablet) {
  .main__promo {
    margin-bottom: 0;
  }

  .main__advantages {
    padding-top: 45px;
    padding-bottom: 103px;
  }

  .main__example {
    padding-top: 43px;
    padding-bottom: 67px;
  }
  .main__contacts-section {
    padding-top: 65px;
  }

  .main__innner-page-title {
    margin: 55px 0 155px 0;
  }

  .main__catalog {
    margin-bottom: 67px;
  }

  .main__extra {
    padding-bottom: 75px;
  }
}

@media (min-width: $desktop) {

  .main__advantages {
    padding-top: 75px;
    padding-bottom: 0;
  }

  .main__example {
    padding-top: 40px;
  }

  .main__contacts-section {
    padding-top: 0;
  }

  .main__innner-page-title {
    margin: 73px 0 157px 0;
  }

  .main__catalog {
    margin-bottom: 75px;
  }

  .main__extra {
    padding-bottom: 85px;
  }
}
