.main__promo {
  margin-bottom: 22px;
}

.main__advantages {
  padding-top: 29px;
  padding-bottom: 45px;
}

.main__example {
  padding-top: 30px;
  padding-bottom: 39px;
}

.main__contacts-section {
  padding-top: 30px;
}
