.programm__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programm__item {
  margin-bottom: 20px;
  padding: 36px 20px 20px 20px;
  background-color: #f2f2f2;

  br {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.programm__item-heading {
  position: relative;
  margin: 0 0 34px 0;
  padding-left: 72px;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    margin-top: -4px;
    margin-left: -71px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--slim::after {
    margin-top: -7px;
    margin-left: -173px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
  }

  &--pro::after {
    margin-top: 7px;
    margin-left: -218px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
  }
}

.programm__item-description {
  margin: 0 0 20px 0;
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.programm__link {
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    margin-left: 12px;
    margin-top: 2px;
    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
  }
}

@media (min-width: $tablet) {
  .programm__item {
    margin-bottom: 30px;
    padding: 75px 280px 60px 53px;

    br {
      display: block;
    }
  }

  .programm__item-heading {
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 36px;
    line-height: 37px;

    &::before {
      width: 200px;
      height: 200px;
      margin-left: 402px;
      margin-top: 15px;
    }

    &--slim::after {
      width: 140px;
      height: 194px;
      margin-left: 263px;
      margin-top: 4px;
    }

    &--pro::after {
      width: 268px;
      height: 112px;
      margin-left: 160px;
      margin-top: 60px;
    }
  }

  .programm__item-description {
    margin: 0 0 55px 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .programm__link {
    font-size: 20px;
    line-height: 20px;
  }
}
