.promo {
  padding-top: 27px;
  color: #ffffff;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px auto;
  background-image: linear-gradient(#64a83b 304px, #ffffff 304px);

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__title {
  margin: 0 0 24px 0;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.promo__subtitle {
  margin: 0 0 25px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet) {

  .promo {
    min-height: 875px;
    padding-top: 0;
    background-image: none;
    color: #111111;
  }

  .promo-wrapper {
    position: relative;
    padding: 60px 120px 0 120px;
  }

  .promo__title {
    margin: 0 0 37px 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .promo__subtitle {
    margin: 0 0 45px 0;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__image {
    position: absolute;
    z-index: -1;
    margin-top: -27px;
    margin-left: -85px;
  }

  .promo__link {
    // position: absolute;
    // margin-top: -420px;
    // margin-left: 0;
    width: 245px;
    padding: 16px 0 16px 0;
    font-size: 20px;
  }
}


@media (min-width: $desktop) {
  .promo {
    position: relative;
    min-height: 665px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -123px;
      right: 0;
      width: 50%;
      height: 695px;
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: cover;
      background-color: #64a83b;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .promo-wrapper {
    padding: 108px 120px 0 120px;
  }

  .promo__subtitle {
    margin: 0 0 50px 0;
  }

  .promo__image {
    margin-top: -300px;
    margin-left: 384px;
  }
}
