.selection__subtitle {
  margin: 0 0 40px 0;
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media(min-width: $tablet) {
  .selection__subtitle {
    margin: 0 0 68px 0;
    padding: 0 71px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media(min-width: $desktop) {
  .selection__subtitle {
    padding: 0 40px;
  }
}
