@font-face {
  font-family: "OswaldRegular";
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
       url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
}
